extends ../../layouts/layout.pug

block content

  // MAIN CONTENT
  .main-content
    .container-fluid
      .panel.panel-profile
        .clearfix
          // LEFT COLUMN
          .profile-left
            // PROFILE HEADER
            .profile-header
              .overlay
              .profile-main
                if user.AvatarPath
                  img.img-circle(src='#{user.AvatarPath}', alt='Avatar')
                else
                  img.img-circle(src="../../../public/images/nullAvatar.png", alt='Avatar')
                h3.name #{user.Fullname}
                span.online-status.status-available @#{user.Username}
              .profile-stat
                .row
                  if user.Role = 'Admin'
                    .col-md-4.stat-item
                      | Administrator
                      span
                        i.fa.fa-shield
                  else
                    .col-md-4.stat-item
                      | Normal user
                      span
                        i.fa.fa-user-circle-o
                  .col-md-4.stat-item
                    | Joined on
                    span.dt #{first_activities.CreatedAt}
                  .col-md-4.stat-item
                    | Verified on 
                    span.dt #{first_activities.VerifiedAt}
            // END PROFILE HEADER
            // PROFILE DETAIL
            .profile-detail
              .profile-info
                h4.heading Basic Info
                ul.list-unstyled.list-justify
                  li
                    | Birthdate 
                    span.dt #{user.Birthdate}
                  li
                    | Hometown 
                    span #{user.HomeTown}
                  li
                    | Current city 
                    span #{user.CurrentCity}
                  li
                    | Mobile 
                    span #{user.Phone}
                  li
                    | Email 
                    span #{user.Email}
              .profile-info
                h4.heading About
                p #{user.Bio}
              .text-center
                a.btn.btn-primary(href='/profile/edit/#{user.Username}') Edit Profile
            // END PROFILE DETAIL
          // END LEFT COLUMN
          // RIGHT COLUMN
          .profile-right
            h4.heading User tool
            // AWARDS
            //- .awards
              .row(style='text-align: center; align-content: center')
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-key.award-icon
                    span
                      a#lnk-change-pass(href='#') Change password
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-user-circle.award-icon
                    span
                      a#lnk-change-avatar(href='#') Change avatar
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-edit.award-icon
                    span
                      a(href='/profile/edit/' + user.username) Edit profile
            // END AWARDS
            // TABBED CONTENT
            //- .custom-tabs-line.tabs-line-bottom.left-aligned
              ul.nav(role='tablist')
                li.active
                  a(href='#tab-bottom-left1', role='tab', data-toggle='tab') Your First Activities
            //- .tab-content
              #tab-bottom-left1.tab-pane.fade.in.active
                ul.list-unstyled.activity-timeline
                  li
                    i.fa.fa-check.activity-icon
                    p
                      | You have visited 
                      a(href='/admin') Dashboard 
                      |  for the first time at 
                      a.dt= first_activities.FirstVisitedDashboard
                      span.timeago.timestamp(datetime=user.FirstVisitedDashboard)
                  li
                    i.fa.fa-check.activity-icon
                    p
                      | First login at 
                      a.dt= first_activities.FirstLoginAt
                      span.timeago.timestamp(datetime=first_activities.FirstLoginAt)
                  li
                    i.fa.fa-check.activity-icon
                    if first_activities.Verified == true
                      p.dt Account has been verified at #{first_activities.VerifiedAt}
                        span.timeago.timestamp(datetime=first_activities.VerifiedAt)
                    else
                      p Your account haven't been confirmed. Please check your email to verify this account
                  li
                    i.fa.fa-check.activity-icon
                    p.dt Joined on #{first_activities.CreatedAt} 
                      span.timeago.timestamp(datetime=first_activities.CreatedAt)
                .margin-top-30.text-center
            // END TABBED CONTENT

            ul.nav.nav-tabs
              li.active
                a(href='#credential', data-toggle='tab')
                  | Password 
              li
                a(href='#info', data-toggle='tab')
                  | Profile
            .tab-content
              #credential.tab-pane.active
                form.form-auth-small(action='/account/edit/credential')
                  .form-group
                    label.control-label(for='username') Username
                    input#edit-email.form-control(type='username', name="username" value='', placeholder='Username', disabled)
                  .form-group
                    label.control-label(for='password') Password
                    input#edit-password.form-control(type='password', name="password" placeholder='Password')
                  .form-group
                    label.control-label(for='repeat-password') Repeat Password
                    input#edit-repeat-password.form-control(type='repeat-password', placeholder='Password')
                  button.btn.btn-primary.btn-lg.btn-block(type='submit') Update
              #info.tab-pane
                form.form-auth-small(action='/account/edit/info')
                  .form-group
                    label.control-label(for='fullname') Full name
                    input#edit-full.form-control(type='text', name="fullname" value='', placeholder='Fullname')
                  .form-group
                    label.control-label(for='email') Email
                    input#edit-email.form-control(type='email', name="email" value='', placeholder='Email')
                  .form-group
                    label.control-label(for='birthdate') Birthdate
                    input#edit-birthdate.form-control(type='text', name="birthdate" value='', placeholder='birthday')
                  .form-group
                    label.control-label(for='hometown') Hometown
                    input#edit-hometown.form-control(type='text', name="hometown" placeholder='Hometown')
                  .form-group
                    label.control-label(for='current-city') Current city
                    input#edit-current-city.form-control(type='text', name="currentcity" placeholder='Current city')
                  .form-group
                    label.control-label(for='mobile') Mobile
                    input#edit-mobile.form-control(type='text', name="phone" placeholder='Mobile')
                  button.btn.btn-primary.btn-lg.btn-block(type='submit') Update

          // END RIGHT COLUMN
  // END MAIN CONTENT
