extends ../../layouts/layout.pug

block content

  // MAIN CONTENT
  .main-content
    .container-fluid
      .panel.panel-profile
        .clearfix
          // LEFT COLUMN
          .profile-left
            // PROFILE HEADER
            .profile-header
              .overlay
              .profile-main
                if user.AvatarPath
                  img.img-circle(src='#{user.AvatarPath}', alt='Avatar')
                else
                  img.img-circle(src="../../../public/images/nullAvatar.png", alt='Avatar')
                h3.name #{user.Fullname}
                span.online-status.status-available @#{user.Username}
              .profile-stat
                .row
                  .col-md-4.stat-item
                    | #{first_activities.length} 
                    span Activies
                  .col-md-4.stat-item
                    | Joined on
                    span #{first_activities.CreatedAt}
                  .col-md-4.stat-item
                    | Verified on 
                    span #{first_activities.VerifiedAt}
            // END PROFILE HEADER
            // PROFILE DETAIL
            .profile-detail
              .profile-info
                h4.heading Basic Info
                ul.list-unstyled.list-justify
                  li
                    | Birthdate 
                    span.date #{user.Birthdate}
                  li
                    | Hometown 
                    span #{user.HomeTown}
                  li
                    | Current city 
                    span #{user.CurrentCity}
                  li
                    | Mobile 
                    span #{user.Phone}
                  li
                    | Email 
                    span #{user.Email}
              .profile-info
                h4.heading About
                p #{user.Bio}
              .text-center
                a.btn.btn-primary(href='/profile/edit/#{user.Username}') Edit Profile
            // END PROFILE DETAIL
          // END LEFT COLUMN
          // RIGHT COLUMN
          .profile-right
            h4.heading User tool
            // AWARDS
            .awards
              .row(style='text-align: center; align-content: center')
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-key.award-icon
                    span
                      a#lnk-change-pass(href='#') Change password
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-user-circle.award-icon
                    span
                      a#lnk-change-avatar(href='#') Change avatar
                .col-md-3.col-sm-6
                  .award-item
                    .hexagon
                      span.fa.fa-edit.award-icon
                    span
                      a(href='/profile/edit/' + user.username) Edit profile
            // END AWARDS
            // TABBED CONTENT
            .custom-tabs-line.tabs-line-bottom.left-aligned
              ul.nav(role='tablist')
                li.active
                  a(href='#tab-bottom-left1', role='tab', data-toggle='tab') Your First Activities
            .tab-content
              #tab-bottom-left1.tab-pane.fade.in.active
                ul.list-unstyled.activity-timeline
                  li
                    i.fa.fa-check.activity-icon
                    p
                      | You have visited 
                      a(href='/admin') Dashboard 
                      |  for the first time at
                      a= first_activities.FirstVisitedAt
                      span.timeago.timestamp(datetime=user.FirstVisited)
                  li
                    i.fa.fa-check.activity-icon
                    p
                      | First login at
                      a= first_activities.FirstLoginAt
                      span.timeago.timestamp(datetime=first_activities.FirstLogin)
                  li
                    i.fa.fa-check.activity-icon
                    if first_activities.Verified == true
                      p
                        | Account has been verified at #{first_activities.VerifiedAt}
                        span.timeago.timestamp(datetime=first_activities.VerifiedAt)
                    else
                      p
                        | Your account haven't been confirmed. Please check your email to verify this account
                  li
                    i.fa.fa-check.activity-icon
                    p
                      | Joined on #{first_activities.CreatedAt} 
                      span.timeago.timestamp(datetime=first_activities.CreatedAt)
                .margin-top-30.text-center
            // END TABBED CONTENT
          // END RIGHT COLUMN
  // END MAIN CONTENT
