nav.navbar.navbar-default.navbar-fixed-top
  .brand
    a(href='/')
      img.img-responsive.logo(src='../public/images/RPiMonSysDarkLogo.png', alt='RPiMonSys Logo')
  .container-fluid
    .navbar-btn
      button.btn-toggle-fullwidth(type='button')
        i.lnr.lnr-menu
    #navbar-menu
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle.icon-menu(href='#', data-toggle='dropdown')
            i.lnr.lnr-alarm
          ul.dropdown-menu.notifications
            li
              a.notification-item(href='#')
                span.dot.bg-warning
                | 
            li
              a.notification-item(href='#')
                span.dot.bg-login
                | First visited Dashboard on #{user.FirstVisitedDashboard}
            li
              a.notification-item(href='#')
                span.dot.bg-success
                | First login on #{user.FirstLogin}
            li
              a.notification-item(href='#')
                if user.isverfied == true
                  span.dot.bg-success Account has been verified at #{user.VerifiedAt}
                else
                  span.dot.bg-warning Your account has not been verified. Please click
                    a(href='/verify') here 
                  | to verify.
                    
            li
              a.notification-item(href='#')
                span.dot.bg-success
                | Joined on #{user.CreateAt}
            li
              a.more(href='#') See all notifications
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img.img-circle(src='#{user.AvatarPath}', alt='Avatar')
            span #{user.Fullname}
            i.icon-submenu.lnr.lnr-chevron-down
          ul.dropdown-menu
            li
              a(href='#')
                i.lnr.lnr-user
                span My Profile
            li
              a(href='#')
                i.lnr.lnr-cog
                span Preferences
            li
              a(href='#')
                i.lnr.lnr-exit
                span Logout