extends ../../layouts/layout.pug

block link
  -var selected = '/admin/disk';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.heading
            | Disk And I/O Statistic
        .panel-body
          .row
            .col-md-12
              .row
                .col-md-5
                  h4.heading
                    b I/O activities
                  #io-statistic.ct-chart
                .col-md-5
                  h4.heading
                    b Disk space usage
                  #disk-space.ct-chart-pie
        .row
          .col-md-12
            .panel
              .panel-heading
                h3.panel-title Device
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
              .panel-body.no-padding
                table.table.table-striped
                  thead
                    tr
                      th Name
                      th Type
                      th fstype
                      th mount
                      th size
                      th physical
                      th uuid
                      th label
                      th model
                      th serial
                      th removable
                      th protocol
                  tbody
                    each val in device
                      tr
                        td= val.name
                        td= val.type
                        td= val.fstype
                        td= val.mount
                        td= val.size
                        td= val.physical
                        td= val.uuid
                        td= val.label
                        td= val.model
                        td= val.serial
                        td= val.removable
                        td= val.protocol
              .panel-footer
                .row
                  .col-md-6
                    span.panel-note
                      i.fa.fa-clock-o
                      |  Last updated: 2 minutes ago
                  .col-md-6.text-right
                    a.btn.btn-primary(href='#') View more processes
          .col-md-12
            // MULTI CHARTS
            .panel
              .panel-heading
                h3.panel-title Memory Usage
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
              .panel-body
                #visits-trends-chart.ct-chart
            // END MULTI CHARTS