extends ../../layouts/layout.pug

block link
  -var selected = '/admin';

block content
  .main-content
    .container-fluid
      // OVERVIEW
      .panel.panel-headline
        .panel-heading
          h3.panel-title System Overview
          p.panel-subtitle
            script.
              var d = new Date().toLocaleDateString(), t = new Date().toLocaleTimeString(); document.write(d + " " + t);
        .panel-body
          .row
            .col-md-3
              .metric
                span.icon
                  i.fa.fa-microchip
                p
                  span.number#cpu-percent
                  span.title CPU Usage
            .col-md-3
              .metric
                span.icon
                  i.fa.fa-building-o
                p
                  span.number#memPercent
                  span.title RAM Usage
            .col-md-3
              .metric
                span.icon
                  i.fa.fa-database
                p
                  span.number#io
                  span.title Disk transfer rate
            .col-md-3
              .metric
                span.icon
                  i.fa.fa-wifi
                p
                  span.number #{network.length}
                  span.title Active network connections
          .row
            .col-md-9
              #cpu-usage-chart
            .col-md-3
              .weekly-summary.text-right
                span.number #{cores}
                span.info-label Cores
              .weekly-summary.text-right
                span.number#cpu-freq
                span.info-label Current speed
      // END OVERVIEW
      .row
        .col-md-6
          .panel
            .panel-heading
              h3.panel-title Processes
              .right
                button.btn-toggle-collapse(type='button')
                  i.lnr.lnr-chevron-up
            .panel-body.no-padding
              table.table.table-striped
                thead
                  tr
                    th PID
                    th Name
                    th CPU
                    th Mem
                    th Priority
                    th User
                tbody
                  each val in processes
                    tr
                      td= val.pid
                      td= val.nice
                      td= val.pcpu
                      td= val.pmem
                      td= val.priority
                      td= val.user
            .panel-footer
              .row
                .col-md-6
                  span.panel-note
                    i.fa.fa-clock-o
                    |  Last updated: 2 minutes ago
                .col-md-6.text-right
                  a.btn.btn-primary(href='/admin/processes') View more processes
        .col-md-6
          // MULTI CHARTS
          .panel
            .panel-heading
              h3.panel-title Memory Usage
              .right
                button.btn-toggle-collapse(type='button')
                  i.lnr.lnr-chevron-up
            .panel-body
              #memory-usage-chart
block scripts
  script.
    $(function() {
    

    });