extends ../../layouts/layout.pug


block link
  -var selected = '/admin/memory';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title
            b Memory Statistics
        .panel-body
          .row
            .col-md-12
              .row
                .col-md-9
                  h4.heading
                    b Overall Usage
                  #memory-usage-chart.ct-chart
                .col-md-3
                  .weekly-summary.text-right.bottom
                    span#memPercent.data.number
                    span.info-label In use
                  .weekly-summary.text-right.bottom
                    span#memUsage.data.number 997 MB
                    span.info-label Total
                  .weekly-summary.text-right.bottom
                    span#swapUsage.data.number 20 MB
                    span.info-label Swap in used
                  .weekly-summary.text-right.bottom
                    span#swapTotal.data.number 10 GB
                    span.info-label Swap total
              .row.container-fluid
                .col-md-3
                  h4.heading
                    b Statistic
                  ul.list-unstyled.list-justify
                    li
                    | Total 
                    span.data #{total}
                  li
                    | Free 
                    span.data #{free}
                  li
                    | In used 
                    span.data #{inused}
                  li
                    | Active 
                    span.data #{active}
                  li
                    | Available 
                    span.data #{available}
                  li
                    | Buffer cache 
                    span.data #{buffer_cache}
                  li
                    | Swap total 
                    span.data #{swap_total}
                  li
                    | Swap use 
                    span.data #{swap_used}
                  li
                    | Swap free 
                    span.data #{swap_free}

block scripts

  script.
      