extends ../../layouts/layout.pug

block link
  -var selected = '/admin/overview';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title System Information
        .panel-body
          .row
            .col-md-12
              .col-md-4
                h4.heading
                  b.export Operating System
                ul.list-unstyled.list-justify
                  li
                    | Platform 
                    span.export #{osInfo.platform}
                  li
                    | Distro 
                    span.export #{osInfo.distro}
                  li
                    | Release 
                    span.export #{osInfo.release}
                  li
                    | Code name 
                    span.export #{osInfo.codename}
                  li
                    | Kernel 
                    span.export #{osInfo.kernel}
                  li
                    | Architecture 
                    span.export #{osInfo.arch}
                  li
                    | Hostname 
                    span.export #{osInfo.hostname}
                  li
                    | Logo file 
                    span.export #{osInfo.logofile}
              .col-md-4
                h4.heading
                  b.export Central Processor Unit
                ul.list-unstyled.list-justify
                  li
                    | Manufacturer 
                    span.export #{cpuinfo.manufacturer}
                  li
                    | Brand 
                    span.export #{cpuinfo.brand}
                  li
                    | Speed (GHz)
                    span.export #{cpuinfo.speed.avg}
                  li
                    | Total cores 
                    span.export #{cpuinfo.cores}
                  li
                    | Minimum speed (GHz)
                    span.export #{min}
                  li
                    | Maximum speed (GHz)
                    span.export #{max}
                  li
                    | Average speed (GHz)
                    span.export #{avg}
                  li
                    | Temperature 
                    span.export #{cpuTemp} °C
              .col-md-4
                h4.heading
                  b Memory
                ul.list-unstyled.list-justify.root
                  li
                    | Total 
                    span.data.export #{mem.total}
                  li
                    | Free 
                    span.data.export #{mem.free}
                  li
                    | In used 
                    span.data.export #{mem.used}
                  li
                    | Active 
                    span.data.export #{mem.active}
                  li
                    | Available 
                    span.data.export #{mem.available}
                  li
                    | Buffer cache 
                    span.data.export #{mem.buffcache}
                  li
                    | Swap total 
                    span.data.export #{mem.swaptotal}
                  li
                    | Swap use 
                    span.data.export #{mem.swapused}
                  li
                    | Swap free 
                    span.data.export #{mem.swapfree}
              .col-md-4
                h4.heading
                  b.export Disk IO activities
                ul.list-unstyled.list-justify.root
                  li
                    | Read IO 
                    span.export #{disksIO.rIO}
                  li
                    | Write IO 
                    span.export #{disksIO.wIO}
                  li
                    | Transfer IO 
                    span.export #{disksIO.tIO}
                  li
                    | Read per second 
                    span.export #{disksIO.rIO_sec}
                  li
                    | Write per second 
                    span #{disksIO.wIO_sec}
              .col-md-4
                h4.heading
                  b.export Networking
                ul.list-unstyled.list-justify
                  li
                    | Total interfaces 
                    span.export #{networkInterfaces.length}
                  li
                    | Default interface 
                    span.export #{networkInterfaceDefault}
                  li
                    | IPv4 address 
                    span.export #{networkInterfaces[1].ip4}
                  li
                    | IPv6 address 
                    span.export #{networkInterfaces[1].ip6}
                  li
                    | MAC address 
                    span.export #{networkInterfaces[1].mac}
                  li
                    | Total connnections 
                    span.export #{networkConnections.length}
              .col-md-4
                h4.heading
                  b.export File system
                ul.list-unstyled.list-justify
                  li
                    | Name 
                    span.export #{filesystem[0].fs}
                  li
                    | Type 
                    span.export #{filesystem[0].type}
                  li
                    | Size 
                    span.data.export #{filesystem[0].size}
                  li
                    | Used 
                    span.data.export #{filesystem[0].used}
                  li
                    | Use 
                    span.data.export #{filesystem[0].use}
                  li
                    | Mount 
                    span.export #{filesystem[0].mount}
