extends ../../layouts/layout.pug

block link
  -var selected = '/admin/overview';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title System Information
        .panel-body
          .row
            .col-md-12
              .col-md-4
                h4.heading
                  b Operating System
                ul.list-unstyled.list-justify
                  li
                    | Platform 
                    span #{osInfo.platform}
                  li
                    | Distro 
                    span #{osInfo.distro}
                  li
                    | Release 
                    span #{osInfo.release}
                  li
                    | Code name 
                    span #{osInfo.codename}
                  li
                    | Kernel 
                    span #{osInfo.kernel}
                  li
                    | Architecture 
                    span #{osInfo.arch}
                  li
                    | Hostname 
                    span #{osInfo.hostname}
                  li
                    | Logo file 
                    span #{osInfo.logofile}
              .col-md-4
                h4.heading
                  b Central Processor Unit
                ul.list-unstyled.list-justify
                  li
                    | Manufacturer 
                    span #{cpuinfo.manufacturer}
                  li
                    | Brand 
                    span #{cpuinfo.brand}
                  li
                    | Speed (GHz)
                    span #{cpuinfo.speed.avg}
                  li
                    | Total cores 
                    span #{cpuinfo.cores}
                  li
                    | Minimum speed (GHz)
                    span #{cpuCurrentspeed.min}
                  li
                    | Maximum speed (GHz)
                    span #{cpuCurrentspeed.max}
                  li
                    | Average speed (GHz)
                    span #{cpuCurrentspeed.avg}
                  li
                    | Temperature 
                    span Not available
              .col-md-4
                h4.heading
                  b Memory
                ul.list-unstyled.list-justify.root
                  li
                    | Total 
                    span.data #{mem.total}
                  li
                    | Free 
                    span.data #{mem.free}
                  li
                    | In used 
                    span.data #{mem.used}
                  li
                    | Active 
                    span.data #{mem.active}
                  li
                    | Available 
                    span.data #{mem.available}
                  li
                    | Buffer cache 
                    span.data #{mem.buffcache}
                  li
                    | Swap total 
                    span.data #{mem.swaptotal}
                  li
                    | Swap use 
                    span.data #{mem.swapused}
                  li
                    | Swap free 
                    span.data #{mem.swapfree}
              .col-md-4
                h4.heading
                  b Disk IO activities
                ul.list-unstyled.list-justify.root
                  li
                    | Read IO 
                    span #{disksIO.rIO}
                  li
                    | Write IO 
                    span #{disksIO.wIO}
                  li
                    | Transfer IO 
                    span #{disksIO.tIO}
                  li
                    | Read per second 
                    span #{disksIO.rIO_sec}
                  li
                    | Write per second 
                    span #{disksIO.wIO_sec}
              .col-md-4
                h4.heading
                  b Networking
                ul.list-unstyled.list-justify
                  li
                    | Total interfaces 
                    span #{networkInterfaces.length}
                  li
                    | Default interface 
                    span #{networkInterfaceDefault}
                  li
                    | IPv4 address 
                    span #{networkInterfaces[1].ip4}
                  li
                    | IPv6 address 
                    span #{networkInterfaces[1].ip6}
                  li
                    | MAC address 
                    span #{networkInterfaces[1].mac}
                  li
                    | Total connnections 
                    span #{networkConnections.length}
              .col-md-4
                h4.heading
                  b File system
                ul.list-unstyled.list-justify
                  li
                    | Name 
                    span #{filesystem[0].fs}
                  li
                    | Type 
                    span #{filesystem[0].type}
                  li
                    | Size 
                    span.data #{filesystem[0].size}
                  li
                    | Used 
                    span.data #{filesystem[0].used}
                  li
                    | Use 
                    span.data #{filesystem[0].use}
                  li
                    | Mount 
                    span #{filesystem[0].mount}
        .panel-footer
          .row
            .col-md-12.text-right
              button#exportText.btn.btn-primary(name='exportText')
                span.fa.fa-file-text(aria-hidden='true')
                | Export to text file
