extends ../../layouts/layout.pug

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.panel-title System Information
        .panel-body
          .row
            .col-md-12
              .col-md-4
                h4.heading
                  b Operating System
                ul.list-unstyled.list-justify
                  li
                    | Platform 
                    span #{osInfo.platform}
                  li
                    | Distro 
                    span #{osInfo.distro}
                  li
                    | Release 
                    span #{osInfo.release}
                  li
                    | Code name 
                    span #{osInfo.codename}
                  li
                    | Kernel 
                    span #{osInfo.kernel}
                  li
                    | Architecture 
                    span #{osInfo.arch}
                  li
                    | Hostname 
                    span #{osInfo.hostname}
                  li
                    | Logo file 
                    span #{osInfo.logofile}
              .col-md-4
                h4.heading
                  b Central Processor Unit
                ul.list-unstyled.list-justify
                  li
                    | Manufacturer 
                    span #{cpuInfo.manufacturer}
                  li
                    | Brand 
                    span #{cpuInfo.brand}
                  li
                    | Speed 
                    span #{cpuInfo.speed}
                  li
                    | Total cores 
                    span #{cpuInfo.cores}
                  li
                    | Minimum speed 
                    span #{cpuCurrentSpeed.min}
                  li
                    | Maximum speed 
                    span #{cpuCurrentSpeed.max}
                  li
                    | Average speed 
                    span #{cpuCurrentSpeed.avg}
                  li
                    | Temperature 
                    span Not available
              .col-md-4
                h4.heading
                  b Memory
                ul.list-unstyled.list-justify
                  li
                    | Total 
                    span #{mem.total}
                  li
                    | Free 
                    span #{mem.free}
                  li
                    | In used 
                    span #{mem.used}
                  li
                    | Active 
                    span #{mem.active}
                  li
                    | Available 
                    span #{mem.available}
                  li
                    | Buffer cache 
                    span #{mem.buffcache}
                  li
                    | Swap total 
                    span #{mem.swaptotal}
                  li
                    | Swap use 
                    span #{mem.swapuse}
                  li
                    | Swap free 
                    span #{mem.swapfree}
              .col-md-4
                h4.heading
                  b Disk IO activities
                ul.list-unstyled.list-justify
                  li
                    | Read IO 
                    span #{diskIO.rio}
                  li
                    | Write IO 
                    span #{diskIO.wio}
                  li
                    | Transfer IO 
                    span #{diskIO.tio}
                  li
                    | Read per second 
                    span #{diskIO.rio_sec}
                  li
                    | Write per second 
                    span #{diskIO.wio_sec}
              .col-md-4
                h4.heading
                  b Networking
                ul.list-unstyled.list-justify
                  li
                    | Total interfaces 
                    span Value 1
                  li
                    | Default interface 
                    span #{networkInterfaceDefault}
                  li
                    | IPv4 address 
                    span Value 3
                  li
                    | IPv6 address 
                    span Value 4
                  li
                    | MAC address 
                    span Value 5
                  li
                    | Total connnections 
                    span Value 6
              .col-md-4
                h4.heading
                  b File system
                ul.list-unstyled.list-justify
                  li
                    | Name 
                    span #{filesystem[0].fs}
                  li
                    | Type 
                    span #{filesystem[0].type}
                  li
                    | Size 
                    span #{filesystem[0].size}
                  li
                    | Used 
                    span #{filesystem[0].used}
                  li
                    | Use 
                    span #{filesystem[0].use}
                  li
                    | Mount 
                    span #{filesystem[0].mount}
        .panel-footer
          .row
            .col-md-12.text-right
              button#exportText.btn.btn-primary(name='exportText')
                span.fa.fa-file-text(aria-hidden='true')
                | Export to text file
              button#refreshData.btn.btn-primary(name='refreshData')
                span.fa.fa-refresh
                | Refresh all data
