extends ../../layouts/layout.pug

block link
  -var selected = '/admin/processes';

block content

  .main-content
    .container-fluid
      .panel.panel-headline
        .panel-heading
          h3.heading
            b Processes Manager
        .panel-body
          .row(style='margin-bottom: 10px')
            .col-md-3
              h4.heading
                b Statistic
              ul.list-unstyled.list-justify
                li
                  | All 
                  span #{all}
                li
                  | Running 
                  span #{running}
                li
                  | Blocked 
                  span #{blocked}
                li
                  | Sleeping 
                  span #{sleeping}
          .row
            .col-md-4
              button.btn.btn-primary Refresh
              button.btn-danger.btn(disabled='') End process
              .btn-group
                button.btn.btn-default.dropdown-toggle(disabled='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Set priority 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Normal
                  li
                    a(href='#') High
                  li
                    a(href='#') Low
          .row
            .col-md-4
              h4.heading Find process
              .input-group
                input.form-control(placeholder='Type PID or Name to find...', type='text')
                span.input-group-btn
                  button.btn.btn-primary(type='button') Search
          .row
            .col-md-12
              .clearfix
              table#table-rpi.table.table-striped(style='margin-top: 10px')
                thead
                  tr
                    th Select
                    th PID
                    th Name
                    th CPU
                    th Memory
                    th Priority
                    th TTY
                    th User
                    th State
                    th Memory Rss
                    th Memory Vsz
                    th Started
                tbody
                  each val in list
                    tr
                      td
                        input(type='checkbox')
                      td= val.pid
                      td= val.nice
                      td= val.pcpu
                      td= val.pmem
                      td= val.priority
                      td= val.tty
                      td= val.user
                      td= val.state
                      td= val.mem_rss
                      td= val.mem_vsz
                      td= val.started
          .row
            .col-md-4
              button.btn.btn-primary Refresh
              button.btn-danger.btn(disabled='') End process
              .btn-group
                button.btn.btn-default.dropdown-toggle(disabled='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Set priority 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Normal
                  li
                    a(href='#') High
                  li
                    a(href='#') Low

block scripts

  // todo
  script.
    var arr;
    $('button').click(function(){
      arr = $('#table-rpi').find('[type="checkbox"]:checked').map(function(){
          return $(this).closest('tr').find('td:nth-child(2)').text();
      }).get();

      console.log(arr);
    });